<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Chat Box - Not Found</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="centeredContent">
      <h1 id="titleText">Not Found</h1>
      <p id="description">This page seems to be missing or lost. Go back to <a href="/">homepage</a>.</p>
    </div>
  </body>
</html>
