<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <title>Chat Box</title>
    <style>
      ul,
      ul li {
        transform: scaleY(-1);
      }

      form {
        position: fixed;
        bottom: 0;
        margin-bottom: 10px;
        width: 100%;
      }

      .textInput {
        background-color: #40444b;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        width: calc(100% - 20px);
        height: 40px;
        color: rgb(223, 223, 223);
        padding-left: 10px;
        margin-left: 10px;
      }

      #chat {
        background-color: #36393f;
        display: table-cell;
        vertical-align: bottom;
        height: calc(100vh - 118px);
        width: 100vw;
        border-radius: 10px 10px 0 0;
      }

      #messages {
        overflow-y: auto;
        max-height: calc(100vh - 118px);
        word-wrap: break-word;
      }

      .message {
        padding-top: 5px;
      }

      .message p {
        margin-left: 60px;
        margin-top: -45px;
      }

      .message .messagetext {
        color: rgb(196, 196, 196);
        margin-top: 5px;
      }

      .message .displayname {
        margin-bottom: 0;
      }

      .message .usericon {
        width: 40px;
        user-select: none;
        height: 40px;
        border-radius: 40px;
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div id="chat">
      <div id="messages"></div>
      <form action="javascript:void(0);" method="post" onsubmit="sendMessage();">
        <input class="textInput" id="message" name="message" type="text" placeholder="Send a message" />
      </form>
    </div>

    <script>
      const socket = io();

      const messagesHolder = document.getElementById("messages");
      const messageInput = document.getElementById("message");

      function sendMessage() {
        const messageText = messageInput.value;
        socket.emit("SendMessage", messageText);
        messageInput.value = "";
      }

      socket.on("disconnect", () => (location.href = "/"));

      socket.on("RecieveMessage", (messageData) => {
        messagesHolder.appendChild(createMessageElement(messageData.iconpath, messageData.displayname, messageData.username, messageData.message));
      });

      function createMessageElement(iconpath, displayname, username, message) {
        const messageDiv = document.createElement("div");
        messageDiv.classList.add("message");

        const img = document.createElement("img");
        img.classList.add("usericon");
        img.setAttribute("alt", "user icon");
        img.setAttribute("draggable", "false");
        img.setAttribute("src", "/assets/usercontent/icons/" + iconpath);

        const messageText = document.createElement("p");
        messageText.classList.add("messagetext");
        messageText.innerHTML = message;

        const displayNameText = document.createElement("p");
        displayNameText.classList.add("displayname");
        displayNameText.setAttribute("title", "@" + username);
        displayNameText.innerHTML = displayname;

        messageDiv.appendChild(img);
        messageDiv.appendChild(displayNameText);
        messageDiv.appendChild(messageText);
        return messageDiv;
      }
    </script>
  </body>
</html>
