<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Chat Box - Sign In</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="centeredContent">
      <form action="javascript:void(0);" method="post" onsubmit="signin();">
        <h1 id="titleText" style="margin-bottom: 40px;" class="centeredContent">Login into your account</h1>
        <label for="username">Username:</label><br />
        <input class="textInput" id="username" name="username" type="text" /><br />

        <label for="password">Password:</label><br />
        <input class="textInput" id="password" name="password" type="password" /><br />

        <input class="submit" type="submit" value="Login" />
      </form>
    </div>

    <script>
      async function signin() {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        const options = {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username: username,
            password: password,
          }),
        };

        const response = await fetch("", options);
        const data = await response.json();

        if (response.status === 422) {
          // loop through the errors and sets inputs iccordingly
          [...document.getElementsByClassName("textInput")].forEach((input) => ((input.style.backgroundColor = "#96ff9e"), input.removeAttribute("title")));
          data.errors.forEach((error) => {
            const whichErrorElement = document.getElementById(error.param);
            whichErrorElement.style.backgroundColor = "#fc9090";
            whichErrorElement.setAttribute("title", error.msg);
          });
        } else if (!data.success) {
          console.log(data.errors);
          alert("There was an unknown problem preventing signing in.");
        } else {
          location.href = "/";
        }
      }
    </script>
  </body>
</html>
