@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #26262b;
  color: white;
  margin: 0;
}

a {
  color: rgb(158, 158, 158);
}

.centeredContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titleText {
  font-size: 50px;
  margin-bottom: 0;
}

#mainDescription {
  font-size: 25px;
  margin-top: 20px;
}

/* for the nav bar  */

nav {
  margin: -8px;
  margin-bottom: 4px;
  padding: 10px;
  user-select: none;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
}

nav .title {
  font-size: 30px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 0;
  max-width: fit-content;
  font-family: "Roboto", sans-serif;
  flex: 1;
  color: white;
}

nav .links {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

nav .links:hover {
  color: rgb(133, 133, 133);
}

nav .title:hover {
  color: rgb(221, 221, 221);
}

/* end nav bar */

.loadingIcon {
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
  margin-right: -8px;
}
