<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>Chat Box - Sign Up</title>
    <link rel="stylesheet" href="/assets/css/bigform.css" />
  </head>
  <body>
    <%- include("../partials/nav") %>
    <div class="centeredContent">
      <form action="javascript:void(0);" method="post" onsubmit="signup();">
        <h1 id="titleText" style="margin-bottom: 40px;" class="centeredContent">Create your account</h1>
        <label for="username">Display name:</label><br />
        <input class="textInput" id="displayname" name="displayname" type="text" /><br />

        <label for="username">Username:</label><br />
        <input class="textInput" id="username" name="username" type="text" /><br />

        <label for="password">Password:</label><br />
        <input class="textInput" id="password" name="password" type="password" /><br />

        <label for="confirmPassword">Confirm password:</label><br />
        <input class="textInput" id="confirmPassword" name="confirmPassword" type="password" /><br />

        <input class="submit" type="submit" value="Sign Up" />
      </form>
    </div>

    <script src="/assets/js/basicFuncs.js"></script>
    <script>
      async function signup() {
        fetchAndHandle("", ["username", "password", "displayname", "confirmPassword"], "/room/hub");
      }
    </script>
  </body>
</html>
