@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

#textToSend {
  resize: none;
  width: 40%;
}

#messagesHolder {
  border: black 2px solid;
  width: 40%;
  height: 60%;
  overflow-y: scroll;
  word-wrap: break-word;
}

#errorMessage {
  color: red;
}

#welcomeText {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: grey;
}

.rootElement {
  margin: 10px;
  border-radius: 25px;
  background-color: rgb(207, 207, 207);
  width: 90%;
  padding-bottom: 8px;
  padding-top: 5px;
}

.userElement {
  margin: 5px;
  margin-left: 10px;
  font-size: large;
  max-width: 90%;
}

.textElement {
  width: 90%;
  margin: 5px;
  margin-left: 10px;
  font-family: "Lato", sans-serif;
}
